@charset "UTF-8";
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansJP-Regular.otf");
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansJP-Black.otf");
  font-weight: 900;
  font-display: swap; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  width: 80%;
  margin: 2rem auto;
  font-family: "NotoSans", sans-serif; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: -4px -2px 8px 2px #ccc;
          box-shadow: -4px -2px 8px 2px #ccc; }
  .header__title {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase; }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__filter {
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: -1px -2px 6px 1px #ccc;
            box-shadow: -1px -2px 6px 1px #ccc;
    border: none; }
    .header__filter:focus {
      outline: none; }
  .header__new-event-btn {
    padding: 0.5rem 2rem;
    background-color: #1F97FF;
    border: 2px solid #1F97FF;
    color: #fff;
    border-radius: 0.5rem;
    margin-left: 2rem;
    -webkit-box-shadow: -1px -2px 6px 1px #ccc;
            box-shadow: -1px -2px 6px 1px #ccc; }
    .header__new-event-btn:hover {
      background-color: #1c7dd3;
      border: 2px solid #1c7dd3;
      cursor: pointer; }

.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: -4px -2px 8px 2px #ccc;
          box-shadow: -4px -2px 8px 2px #ccc; }
  .calendar__cell {
    border: 1px solid #dbdbdb;
    text-align: center; }
    .calendar__cell:nth-child(1) {
      border-top-left-radius: 0.5rem; }
    .calendar__cell:nth-child(6) {
      border-top-right-radius: 0.5rem; }
    .calendar__cell:nth-child(55) {
      border-bottom-left-radius: 0.5rem; }
    .calendar__cell:nth-child(60) {
      border-bottom-right-radius: 0.5rem; }
    .calendar__cell .event {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      background-color: #1a2a85;
      color: #d8d8d8; }
    .calendar__cell .cross:hover {
      cursor: pointer; }
    .calendar__cell .cross::before {
      content: "✕"; }
  .calendar .column_title,
  .calendar .row_title {
    padding: 0.5rem 0; }
  .calendar .column_title {
    background-color: #bbffaa; }

.newevent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-shadow: -4px -2px 8px 2px #ccc;
          box-shadow: -4px -2px 8px 2px #ccc;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.5rem; }
  .newevent__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .newevent__label + .newevent__label {
    margin-top: 2rem; }
  .newevent__note {
    color: #ccc;
    font-size: 0.9rem; }
  .newevent__input, .newevent__option {
    width: 40%;
    border: none;
    -webkit-box-shadow: -1px -2px 6px 1px #ccc;
            box-shadow: -1px -2px 6px 1px #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem; }
  .newevent__memb-select input {
    margin-right: 0.5rem; }
  .newevent__btns {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 2rem; }
    .newevent__btns button + button {
      margin-left: 1rem; }
  .newevent__cancel, .newevent__submit {
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem; }
  .newevent__cancel {
    background-color: #ccc; }
    .newevent__cancel:hover {
      cursor: pointer; }
  .newevent__submit {
    background-color: #1F97FF;
    color: #fff; }
    .newevent__submit:hover {
      cursor: pointer;
      background-color: #1c7dd3; }

.error {
  display: none;
  background-color: #ffaaaa;
  color: #a30000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .error__icon {
    color: #ffaaaa;
    background-color: #a30000;
    border-radius: 50%;
    padding: 0.3rem 0.4rem;
    line-height: 1;
    margin-right: 1rem; }

.show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hide {
  display: none; }

/*# sourceMappingURL=style.css.map */